body {
    // background: red;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

// -----

#wrapper {
    max-width: 750px;
    margin: 0 auto;
}

header {
    background: #222;
    color: #eee;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    h1 {
        margin: 0 !important;
    }
}
section#main {

}
footer {

}

h1,h2,h3,h4,h5,h6 {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    & > strong {
        font-weight: 700;
    }
}

// -----

.story {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    &:hover {
        background: #fafafa;
        & > .arrow {
            opacity: 1;
        }
    }

    & > .elem {
        flex: 1;
    }
    & > .arrow {
        font-size: 30px;
        opacity: 0;
    }

    h2 {
        display: inline-block;
        font-size: 20px;
        font-weight: 700;
        margin: 0;
        margin-right: 8px;
    }
    span.dot {
        margin-right: 8px;
    }
    h4 {
        display: inline-block;
        margin: 0;
        text-overflow: ellipsis;
        color: #333;
    }
}
