---
layout: default
---
<div class="about">
    <h2>Collecting stories of the struggle for success.</h2>
</div>

{% assign limit = 9 %}
<div class="stories">
    {% for counter in (0..limit) %}
        {% assign item = site.data['Stories-Live'][counter] %}
        {% if item %}
            {% include item.html item=item %}
        {% else %}
            {% break %}
        {% endif %}
    {% endfor %}
    <a href="{{ site.url }}{% link all.md %}" class="story view-all">
        view all
    </a>
</div>
